.description {
    margin-top: 3%;
    color: white;
  }
  
  .mb-3 {
    margin-left: 3%;
    margin-right: 3%;
  }
  
  .calculation {
    border: 2px solid rgb(81, 81, 81);
    border-radius: 10px;
    padding: 2.5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2.5%;
  }
  
  .connectedWallet {
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 3%;
  }
  
  #connectWallet {
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 3%;
  }

  .createFlow{
    font-family: sans-serif;
    text-align: center;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
}
